<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ebusiness"
        tools:targetApi="31">

        <activity
            android:name=".login.WelcomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.RegisterPage"
            android:exported="true"/>

        <activity
            android:name=".login.LoginPage"
            android:exported="true"/>

        <activity
            android:name=".login.ForgotPage"
            android:exported="true"/>

        <activity
            android:name=".login.BloodPage"
            android:exported="true"/>

        <activity
            android:name=".home.HomeActivity"
            android:exported="true"/>

        <activity
            android:name=".home.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.RecommendationBloodBasedApp" />

        <activity
            android:name=".product.ShoppingCart"
            android:exported="false"
            android:theme="@style/Theme.Ebusiness" />


        <activity
            android:name=".product.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Ebusiness"/>

        <activity
            android:name=".product.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.RecommendationBloodBasedApp">
        </activity>

    </application>

</manifest>
